<h1><%= @user.username %>'s Profile</h2>

<% if @user != current_user && request_sendable?(@user) %>
  <%= button_to 'Send Friend Request', user_friend_requests_path(@user) %> 
<% elsif @user == current_user %>
  <%# button_to 'Edit Profile', Will use users#edit to change pfp later %> 
  <%= button_to 'Settings', edit_user_registration_path(current_user), method: :get %>
<% end %>

<div> 
  <% @user.posts.each do |post| %>
    <div><%= post.title %></div>
    <div><%= post.body %></div>
    <div>
      <% post.comments.each do |c| %>
        <div><%= c.author %></div>
        <div><%= c.body %></div>
      <% end %>
    </div>
  <% end %>
</div>