<!DOCTYPE html>
<html>
  <head>
    <title>OdinFb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    
    <% if user_signed_in? %>
      <div>
      Signed In As <%= link_to current_user.username, current_user %> 
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> 
      <%= link_to 'Home', posts_path %> 
      <%= link_to current_user.friend_requests.where(declined_accepted: false).empty? ? 'Friend Requests' : "Friend Requests (#{current_user.friend_requests.where(declined_accepted: false).count})", user_friend_requests_path(current_user) %>  
      <%= link_to 'Find Friends', users_path %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
